h1{
	padding:10px;
}
.socials{
	display: flex;
	justify-content: center;
	flex-wrap: row wrap;
	padding:10px;
}
.flexItem{
	display: flex;
	justify-content: center;
	flex-wrap: ;
	padding:10px;
}
.contactHolder{
	height:483px;
}
#message{
	width:90%;
	height:120px;
	word-wrap: break-word;
	float:left;
}


@media only screen and (max-width: 650px){
	
	
}


#name, #email{
	width:60%;
	float:left;
}
.leaveAMessage{
	position: relative;
	width:100%;height:300px;
	
}


form{
	margin-top: 20px;
	padding:20px;
	width:50%;
	color:white;
	background-color: #baa156;
	position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
	
}
button{
	padding-left:10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	
}
a{
	color:black;
}
@media only screen and (max-width: 633px){
	#footer{
		margin-top: 50px;
	}
	
	.socials{
		display:block;
	}
	
	
	#facebookLike{
		display: none;
	}
	
.contactHolder{
	height: auto;
	
}
	form{
		width:85%;
		
	}
	.leaveAMessage{
		width:100%;
	}
}